@using DataModels
@model StoryModel
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

Do you really want to delete the following story?
<br />
ID: @Model.ID
<br />
Name: @Model.Title
<hr />

@using (Html.BeginForm("Delete", "Home", FormMethod.Post, new { id = "deleteForm" }))
{
    @Html.HiddenFor(m => m.ID)
    <input type="submit" value="Yes" />
}
| @Html.ActionLink("Cancel", "Index")